name: React CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Verify build output
        run: |
          echo "Listing project root:"
          ls
          echo "Listing dist folder:"
          ls dist

      - name: Deploy to Netlify
        uses: netlify/actions/cli@master
        with:
          args: >
            deploy
            --publish=dist
            --prod
            --site=${{ secrets.NETLIFY_SITE_ID }}
            --message="GitHub Actions deploy"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
